@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&family=Roboto:wght@300;400;500;700&display=swap');


/* Table of content
1.global styles
2. typography
3. lay out
   3.1 reusables
   3.2 Other
4. Areas:
   4.1 header
   4.2 introductie
   4.3 Projects
   4.4 Services
   4.5 Form
   4.6 Footer
5 mediaqueries
 */


/*///////////////////////////////////////////////////////////////////////////////*/



/*-------------------- 1. Global styles ---------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-text-color: #5722CD;
    --head-foot-color: #4B49E8;
    --button-color: #ED4384;
    --normal-text-color: #0C0C0C;
    --whiteish-text-color: #F2F0FF;
    --projects-background: #F3F6F9;
    --tile-p-color: #7A7A7A;
}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--normal-text-color);
}

img {
    width: 100%;
}

/*-------------------- 2. Typography ---------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    /*font-weight: 400;*/
}

.header-content h1, .header-content button {
    padding: 1.5em 0;
}

.header-content p {
    font-weight: 300;
    font-size: 20px;
    padding: 1.5em 0;
}
/*-------------------- 3. Lay out ------------------------*/

/*------------------- 3.1  Reusables  -------------*/
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content:center;

}


.inner-container {
    flex-basis:1200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 20px;
    border:2px dotted blue;

}

/*------------------- 3.2  Other  ----------------*/


/*-------------------- 4.0 Areas ---------------------------*/

/*------------------- 4.1. Header ----------------*/
.header-section {
    color: var(--whiteish-text-color);
    background: linear-gradient(to bottom right, var(--head-foot-color), var(--purple-text-color));
}


.header-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.header-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    justify-content: space-between;
    padding: 15px 0 ;
}

.header-link:link {
    color: var(--whiteish-text-color);
    text-decoration: none;
}

.header-content {
    width: 50vw;
    text-align: center;
    padding:0 0 4em 0;
}

.header-content button {
    background-color:  var(--button-color);
    border-radius: 50px;
    padding: 20px 25px;
    text-transform: uppercase;
    color: var(--whiteish-text-color);
    font-size: 10px;
    /*box-shadow: ;*/
}

.header-graphic {
    height: 4em;
}
/*------------------- 4.2  Introduction  ------------*/
.introduction-content {
    width: 50vw;
    text-align: center;
}

.introduction-content h2 {
    color: var(--purple-text-color);
    margin: 2.5em 0;
}

.introduction-content p {
    margin-bottom: 3em;
}
/*------------------- 4.3  Projects  -------------*/
.project-section{
    background-color: var(--projects-background);
}

.article-part {
    display: flex;
    flex-direction: row;
}
/*------------------- 4.4  Services  -------------*/

/*------------------- 4.3  Form  -------------*/
.form-section {
    background-color: var(--head-foot-color);
}

/*------------------- 4.4  footer  ----------------*/
.footer-section {
    background-color: var(--normal-text-color);

}




/*-------------------- Media queries---------------------------*/